
<div class="jumbotron">
	<br> <br>
<h1>Games:</h1>
</div>


  <table class="table table-striped table-bordered table-hover">

    <thead>
      <tr class="text-center">
        <th></th>
        <th colspan="3"><%=@courts[0].name%><br><%=@courts[0].address%></th>
        <th colspan="3"><%=@courts[1].name%><br><%=@courts[0].address%></th>
        <th colspan="3"><%=@courts[2].name%><br><%=@courts[0].address%></th>
      </tr>
    </thead>
    <%for i in 1..9 do %>
      <tr>
        <td>Week <%=i%></td>
        <%Game.week_games(i).each do |g|%>
          <td>
            <%#= link_to g.datetime.strftime("%F"), game_path(g) %> 
            <%= link_to  g.get_teams[0] + " vs " + g.get_teams[1], game_path(g) %> 
            <br>
            <%if g.played? %>
              <%= g.get_winner_team + " won" %>
            <%else%>
              <%= "not played yet" %>

            <%end%> 
          </td>
        <%end%>
      </tr>
    <%end%>

  </table>
    


