<div class="jumbotron">
	<h1>Court: <%= @game.court.name %><br>
	    Date: <%= @game.datetime.strftime("%F") %><br>
	    Teams: <%= @teams[0] + " vs " + @teams[1]%>
	</h1>
</div>
<p>
    <h1>Players:</h1>

	<% @players.each do |p| %>
		<%= link_to p.first_name + " " + p.last_name + " team " + p.team.team, player_path(p) %><br/>
	<% end %>
</p>
    
	<%=button_to "Back to the list of games", games_path, {method: "get"}%>

<%= button_to "Edit", edit_game_path %>
