<div class="jumbotron">
	<br>
	<h1>Game summary: </h1>
		<h3> Week: <%=@game.week_num%> <br>
	    Date: <%= @game.datetime.strftime("%F") %><br> <br>
	    <%if @game.get_winner_team%>
	    	Team <%=@game.get_winner_team%> won
	    <%end%>
	    <h3> Teams: <%= @teams[0] + " vs " + @teams[1]%>		<br></h3>

	</h3>
</div>
<p>
    <h1>Players:</h1>

	<% @players.each do |p| %>
		<%= link_to p.first_name + " " + p.last_name + " team " + p.team.team, player_path(p) %>
		<%if p.score(@game.id)%>
			Score: <%= p.score(@game.id)%>
		<%else%>
			Not played yet
		<%end%>
		<br/>
	<% end %>
</p>
<br><br>
<h3>		Court: <%= @game.court.name %><br>
</h3>
    
	<%#=button_to "Back to the list of games", games_path, {method: "get"}%>

<%#= button_to "Edit", edit_game_path %>
