<h1>Players:</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
            <th scope="col">Photo</th>

      <th scope="col">Name</th>

      <th scope="col">Team</th>
      <th scope="col">Rank</th>
       <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |p| %>
        <tr>
            <td>
              <%@img_name = p.first_name + " " + p.last_name + ".jpg"%>
              <%if File.file?("#{Rails.root}/app/assets/images/#{@img_name}")%>
                   <%= image_tag(@img_name, :alt => "pic", height: '30', width: '40') %> 
                 <%else%>
                    <%= image_tag("user-default-grey.png", :alt => "no pic", size: "30") %> 
                <%end%>
                
              </td>
            <td><%= link_to p.first_name + " " + p.last_name, player_path(p) %></td>    

            <td><%= p.team.team%></td>
            <td><%= p.rank.rank%></td>           
        </tr>
    <%end%>
    </tbody>
</table>

<br>


<%#=button_to "New Player", new_player_path%>
