
<div class="jumbotron">
<h1> Player: <%= @player.first_name + " " + @player.last_name%><br></h1>
<h3>
    
    <%if File.file?("#{Rails.root}/app/assets/images/#{@img_name}")%>
        <%= image_tag(@img_name, :alt => "pic", height: '150', width: '200') %> <br>
    <%else%>
        <%= image_tag("user-default-grey.png", :alt => "no pic", size: "150") %> <br>
        <%#byebug%>
    <%end%>

    Phone Number: <%= @player.phone_number %><br>
    Email: <%= @player.email %><br><br>
    Team : <%= @player.team.team%><br>
    Rank : <%= @player.rank.rank%><br>


</h3>
</div>
    <h3>Games:</h3>
    <%@participations.each do |p|%>
		<%= link_to p.game.datetime.strftime("%F") + " at " + p.game.court.name, game_path(p.game) %> <br>
	<%end%>

	<br><br>

	<%=button_to "Back to the list of players", players_path, {method: "get"}%>
<%= button_to "Edit", edit_player_path, {method: "get"} %>
